---
import Layout from '../layouts/Layout.astro';

import { commits as bareCommits } from "../../../data.json";
import { BareCommit, fetchCommits } from '../logic/fetch_commit';
import { getContributors } from '../logic/fetch_contributors';
import CommitCard from '../components/CommitCard.astro';

const commits = await fetchCommits(bareCommits as BareCommit[]);
const contributors = await getContributors()
---

<Layout title="CI Server commits">
	<main>
		<div class="header-container">
			<h1>CI Server commits</h1>
			<h3>{contributors.map(current => current.login).join(", ")}</h3>
		</div>

		<div class="inner-content">
			{commits.map((commit) => (
				<CommitCard 
					commit={commit}
				/>
			))}
		</div>
	</main>
</Layout>

<style>

	h1 {
		text-align: center;
		margin: 0;
	}
	h3 {
		text-align: center;
		font-weight: 200;
	}
	.header-container {
		margin-bottom: 5rem;
	}
	main {
		margin-top: 5rem;
		width: "100%";
		display: "flex";
		justify-content: center;
		align-items: center;
	}	

	.inner-content {
		width: 100%;
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
</style>
