---
import Layout from '../layouts/Layout.astro';
import { DateTime } from "luxon";

import { commits as bareCommits } from "../../../data.json";
import { BareCommit, fetchCommits } from '../logic/fetch_commit';

const commits = await fetchCommits(bareCommits as BareCommit[]);

---

<Layout title="CI Server commits">
	<main>
		<h1>CI Server commits</h1>
		<div class="inner-content">
			{commits.map((commit) => (
				<div>
					<p>{commit.commit.message.split("\n")[0]}</p>
					<p>{commit.sha}</p>
					<p>{DateTime.fromISO(commit.commit.author?.date!).toFormat("hh:mm d MMMM yyyy")}</p>
					<p>{commit.success == null ? "unset" : commit.success ? "success" : "failure"}</p>
					<p>{commit.commit.author?.name ?? commit.commit.author?.email}</p>
				</div>
			))}
		</div>
	</main>
</Layout>

<style>

	h1 {
		text-align: center;
		margin-bottom: 5rem;
	}
	main {
		margin-top: 5rem;
		width: "100%";
		display: "flex";
		justify-content: center;
		align-items: center;
	}	

	.inner-content {
		width: 100%;
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
</style>
